html,
body {
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  overflow: hidden;
}

.Loop {
  /* position: relative; */
  margin: auto;
  height: 100vh;
  /* height: 80%; */
  width: 100%;
  /* max-width: 600px;  */
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

body {
  /* background-image: url("./blurs/background-noblur-vignette.png"); */
  background-size: cover;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 80px;
  padding-bottom: 80px;
  max-width: 600px;
  /* object-fit: contain; */
}

img.gif {
  width: 80%;
  height: auto;
  max-width: 600px; 
}

.p {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.p img {
  position: absolute;
  display: block;
  max-width: 800px; 
  width: 150vw;
  height: 50px;
  margin-left: auto;
  margin-right: auto
}

.p img.orange {
  bottom: 0;
}

#mario64 {
  background-image: url("./blurs/0.jpg");
  background-size: cover;
}

#botw {
  background-image: url("./blurs/1.jpg");
  background-size: cover;
}

#portal2 {
  background-image: url("./blurs/2.jpg");
  background-size: cover;
}

#minecraft {
  background-image: url("./blurs/3.jpg");
  background-size: cover;
}

#hl-alyx {
  background-image: url("./blurs/4.jpg");
  background-size: cover;
}

#stanley {
  background-image: url("./blurs/5.jpg");
  background-size: cover;
}

#hl1 {
  background-image: url("./blurs/6.jpg");
  background-size: cover;
}
